.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  margin-top: 0;
}

.background {
  background-image: url("./images/background.png");
  background-color: #1f2532;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: calc(10px + 2vmin);
  height: 100vh;
  color: white;
  min-height: 100vh;
}