* {
  margin-top: 0;
}

.background {
  background-image: url("./images/background.png");
  background-color: #1f2532;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  font-size: calc(12px + 2vmin);
  height: 100vh;
  color: white;
  min-height: 100vh;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 0.5rem 1.5rem; */
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar-sticky {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
  /* display: block; */
}

.navbarLogo {
  max-width: 50%;
  height: auto;
  text-align: left;
  margin-left: 5%;
  display: inline-block;
  padding: 10px;
}


.navbarLinks {
  display: inline-block;
  position: absolute;
  margin-left: 80%;

}

.navbarBTN {
  color: white;
  background: transparent;
  border: none;
  margin: 5px;
  font-family : inherit;
  font-size: 16pt;
}

button:hover {
  cursor: pointer;
}

#greetingDiv {
  margin-top: 50px;
  background: transparent;
}

#coffeepic {
  max-width: 90%;
  max-height: 75vh ;
  display:block;
  margin:auto;
}

#greetingsText {
  font-family : inherit;
  text-transform: bold;
  display:block;
  margin:auto;
  font-size: 20pt;
}

#text {
  font-family : inherit;
  display:block;
  margin: 0 auto;
  margin-right: 10%;
  font-size: 16pt;
  padding: 3% 3% 3% 0;

}

#resumeBTN {
  background: linear-gradient(100deg, #f9643d, #fe2a77);
  text-transform: uppercase;
  border: 2px solid #fbff07;
  letter-spacing: 1px;
  color: white;
  font-size: 15px;
  padding: 10px 40px;
}

/* .left { */
  /* display: inline-block; */
  /* width: 50%;
  justify-content: center;
  align-items: center;
  padding: 1.5em; */

/* } */

#right {
  /* margin: 0;
  position: absolute;
  width: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  height: 75vh;
  float: right;
}

#left {
  /* margin: 0;
  position: absolute;
  width: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  height: 75vh;
  float: left;
}
  /* display: inline-block; */
  /* width: 50%;
  justify-content: center;
  align-items: center;
  padding: 1.5em; */

/* } */